<section class="well">
  <ul id="links" class="nav nav-list">
    <li class="nav-header">推荐站点</li>
    <li>
      <a href="http://macshuo.com/">MacTalk-池建强的随想录</a>
    </li>
    <li>
      <a href="http://yihui.name/">Yihui Xie</a>
    </li>
    <li>
      <a href="http://www.liaoxuefeng.com/">廖雪峰的官方网站</a>
    </li>
    <li>
      <a href="http://irising.me/">Page to Page</a>
    </li>
    <li>
      <a href="http://www.dongwm.com/">小明明s à domicile</a>
    </li>
    <li>
      <a href="http://beyondvincent.com/">破船之家</a>
    </li>
    <li>
      <a href="http://lucifr.com/">Lucifr</a>
    </li>
</ul>
</section>